---
import urls from "~/config/urls";
---

<!-- <footer class="w-full p-8 bg-base-200 flex flex-col justify-end text-end">
  <p>&copy;2025 msisdev</p>
</footer> -->
<footer class="footer bg-base-200/60 items-center rounded-t-box px-6 py-4 shadow">
  <aside class="grid-flow-col items-center">
    <p>©2025 <a class="link link-hover font-medium" href="#">msisdev</a></p>
  </aside>
  <nav class="text-base-content grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a class="link link-hover" href={urls.github}>My Github</a>
  </nav>
</footer>
