---
interface Props {
  icon: string
  name: string
}

const { icon, name } = Astro.props
---

<div class="tooltip">
  <i class={`${icon} text-7xl`}></i>
  <span class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible" role="tooltip">
    <span class="tooltip-body">{name}</span>
  </span>
</div>