---
import Section from "~/components/Section.astro"
import StripedImage from "~/components/StripedImage.astro"
import image from "~/assets/alleys_style.png"

---
<Section>
  <h2 class="text-2xl font-bold mb-8">구현 3. 스타일, 컴포넌트</h2>

  <div class="flex flex-col md:grid md:grid-cols-2 gap-8">
    <div class="overflow-x-auto">
      <StripedImage image={image.src} />
    </div>
    <div class="prose">
      <h3>TailwindCSS</h3>
      <p>반응형 UI를 빠르게 개발하기 위해 사용했습니다.</p>

      <h3>React Aria Components + JollyUI</h3>
      <p>비교적 알려지지않은 컴포넌트 라이브러리를 선택한 이유는 다음과 같습니다.</p>
      <ol>
        <li><p>전시회라는 도메인은 접근성이 최우선이기 때문입니다. React Aria Components는 접근성에 대한 높은 기준을 유지하고 있습니다.</p></li>
        <li><p>Adobe라는 단일 팀에서 React만을 타깃으로 개발되었기 때문입니다. 지금까지 버그가 발생하지 않았습니다.</p></li>
        <li><p>JollyUI라는 shadcn과 비슷한 라이브러리가 있었기 때문입니다. 스타일과 테마를 바로 쓸 수 있어 개발 속도가 뒤떨어지지 않았습니다.</p></li>
      </ol>
      <p>원래 RadixUI를 사용하고 있었으나 돌발적인 버그와 이후 도입한 TailwindCSS와의 호환성 문제가 있어 대안으로 찾게 되었습니다.</p>

      <h3>기본 아바타</h3>
      <p>유저 업로드 이미지를 지원하기에는 프로젝트 단계가 맞지 않았습니다. 대신 유저마다 고유한 색으로 기본 아바타를 만들어주었습니다.</p>
      <p>유저의 이름은 고유하기 때문에 이것으로 SHA-1 해시를 생성하여 컬러로 대치하면 고유한 컬러를 얻을 수 있습니다.</p>
      <p>유저마다 다른 색깔을 가지기 때문에 알록달록한 재미를 주고, 유저에게 소소한 정체성을 줄 수 있습니다.</p>
    </div>
  </div>
</Section>
