---
import Section from "~/components/Section.astro"
---

<Section>
  <h2 class="text-2xl font-bold mb-8">요약</h2>
  <div class="prose">
    <p>
      디자인 및 구현은 2024년 4월에 완료했습니다.&nbsp;
      이때의 코드는 JS와 CSS를 배우는 중이었기 때문에 가독성이 떨어졌습니다.&nbsp;
      현재 웹사이트는 2024년 12월에 React로 다시 작성했습니다.
    </p>
    <h3>목표</h3>
    <ul>
      <li>무료 URL Shortener 개발하기</li>
      <li>작은 규모의 프로젝트로 웹 개발 기초 공부하기</li>
      <li>웹 개발의 재미 찾기</li>
    </ul>
    <h3>결과</h3>
    <ul>
      <li>구현 완료, 오픈소스로 공개</li>
    </ul>
  </div>
</Section>
