---
import Footer from "~/components/Footer.astro"
import Header from "~/components/Header.astro"
// import "flyonui/flyonui"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<!-- 
			Devicon
		-->
		<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

		<title>MSISDEV의 포트폴리오</title>
	</head>
	<body class="flex flex-col items-center overflow-y-auto">
		<Header />
		<main class="w-full flex-grow flex flex-col items-center pt-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<!-- flyonui -->
<!-- <script is:inline src="../node_modules/flyonui/flyonui.js"></script> -->
 <script is:inline src="/flyonui.js"></script>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
